<%- include('partials/header') %>

    <style media="screen">
      .card{
      background: #CDD7E6;
        border : 0;
      }


      .btn-login{
        background: #B3B6B7;
      }

    </style>

    <h1 class="text-center my-5"> Doctor Forgot Password Page </h1>

    <p>
        <%= (typeof variable !="undefined" ? variable : "" ) %>
    </p>
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="card-body signin-card">
                    <form action="" method="POST" class="signin-form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-login"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <%- include('partials/footer') %>
