<%- include('partials/header') -%>

    <link rel="stylesheet" href="./homePage.css">
    <div class="row">
        <div class="col"></div>

        <div class="card">
            <div class="card-body signin-card">
                <a class="btn btn-login btn-lg " href="patientSignUpPage" role="button">Patient</a>

                <a class="btn btn-login btn-lg " href="doctorSignUp" role="button">Doctor</a>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <%- include('partials/footer') -%>