body{
  overflow-x : hidden;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding : 16px 32px;
}


.Logo a{
  color : black;
  text-decoration: none;
}

.Logo a h1{
    font-size: 24px;
}


.login-options{
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.login-options a{
  color: black;
  font-size: 18px;
  font-weight: bold;
}
